<!--
 <div class="col-6"> 
-->
<%= image_tag picture.image.variant(resize_to_limit: [100, 100]) %>
 <div class="row justify-content-center">
<%= form_with(model: picture, local: true) do |form| %>
  <% if picture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(picture.errors.count, "error") %> prohibited this picture from being saved:</h2>

      <ul>
        <% picture.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
  <div class="field">
    <%= form.label :created_on_date %>
    <%= form.date_select :created_on_date %>
  </div>
  </div>

  <div class="form-group">
  <div class="field">
    <%= form.label :title %>
    <%= form.text_area :title %>
  </div>
  </div>

  <div class="form-group">
  <div class="field">
    <%= form.label :moniker %>
    <%= form.text_area :moniker %>
  </div>
  </div>

  <div class="form-group">
  <div class="field">
    <%= form.label :comment %>
    <%= form.text_area :comment %>
  </div>
  </div>

  <div class="actions">
    <%= form.submit %>
</div>
<% end %>
