<div class="container-fluid">
<p id="notice"><%= notice %></p>
<h1>Pictures</h1>

<div class="row">
 <!--div class="card-deck"-->
 <%@pictures.each  do |p| %>
  <div class="col-sm-2">
  <div class="card" style="max-width: 40rem">
 <div class="card-body">
   <p class="card-title"> <%=p.title %> </p>
     <%= link_to (image_tag p.image.variant(resize_to_limit: [100, 100]),class: "card-img-top" ),controller: "pictures", action: "modal_picture_annotate", remote: true, "data-turbolinks" => false,id: p.id %> 
 <p class="card-text"> <%=p.comment %> </p>
  <div class="card-footer text-muted text-center">
  <p> <%=p.image.filename %> </p>
  </div>
</div>
</div>
</div>
  <%end%>
  </div>

</div>
<%=render "shared/modal_dialog" %>