<p id="notice"><%= notice %></p>
<div class="row">
<div class="col-md-12">
<p> <%= @gallery.name %> </p>
<p> <%= @gallery.id %> </p>
</div>
</div>
<%= link_to 'Edit', edit_gallery_path(@gallery) %> |
<%= link_to 'Back', galleries_path %>
